$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #7c0da1;
$greyColor: #ccc;
$menuColor: #403D3B;


$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;